    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #box {
        height: 100px;
        background-color: red;
        position: fixed;
        width: 100%;
    }

    .btn {
        position: relative;
    }

    #dropdown {
        display: block;
        position: absolute;
        width: 200px;
        background-color: yellow;
        top: 60px;
        left: 60px;
    }

    #container-1 {
        height: 600px;
        background-color: aliceblue;
    }

    #container-2 {
        height: 600px;
        background-color: aqua;
    }

    #container-3 {
        height: 600px;
        background-color: azure;
    }