* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contianer {
  background-color: aquamarine;
  width: 1000px;
  height: 1500px;
}

.container-1 {
  color: blueviolet;
  font-size: 20px;
  top: 100px;
  left: 80px;
  position: relative;

}

.container-1-1 {
  width: 50px;
  height: 100px;
}

#container-2 {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 1600px;
  height: 100px;
  top: -210px;
  position: relative;
}